@using System.Text.RegularExpressions
@Match.Groups[0].Value
<ul>
    @for (var i = 1; i < Match.Groups.Count; i++)
    {
        <li>
            <dl>
                <dt>Capture(@i.ToString()): </dt>
                <dd>@Match.Groups[i].Value</dd>
            </dl>
        </li>
    }
</ul>

@code {
    [Parameter]
    public Match Match { get; set; }
}
