name: Test/Deploy
on:
  [pull_request, push]

jobs:
  code_analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'
      - name: Restore
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore -warnAsError RegexTester
      - name: Inspection
        uses: muno92/resharper_inspectcode@v1
        with:
          solutionPath: ./RegexTester.sln
          exclude: RegexTester/wwwroot/**
          ignoreIssueType: CssBrowserCompatibility
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'
      - name: Test
        run: dotnet test RegexTesterTest
  deploy:
    if:  github.event_name == 'push' && github.ref == 'refs/heads/master'
    needs: [code_analysis,test]
    permissions: 
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'
      - name: Build
        run: |
          dotnet publish -c Release RegexTester -o output
          chmod -R 755 ./RegexTester/bin
      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: output/wwwroot
      - name: Deploy
        uses: actions/deploy-pages@v4
